<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>家禽育种工具箱</title>
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				text-decoration: none;
				list-style: none;
			}

			#tab_head input {
				float: left;
				margin-right: 20px;
			}

			#includefooter {
				position: relative;
				height: 0vh;
				overflow: hidden;
			}
		</style>
		<script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
	</head>

	<body>
		<p>请首先上传并分析文件</p>
		<p>注意：分析文件为Xls或Xlsx格式的Excel文件，且每一个sheet的名字都是整数数字(年份)。</p>
		<h2 style="margin: 10px;">上传</h2>
		<div style="border: 2px solid #000000; width: 300px; border-radius: 5px; padding: 5px; margin: 20px;">
			<p>请先选中文件然后分析</p>
			<form method="post" enctype="multipart/form-data" action="/analyse" onsubmit="return checkForm()">
				<input id="choosefile" class="form-control" type="file" name="file_data"><br />
				<!-- <input type="text" name="year" placeholder="输入目标年份"/><br /> -->
				<input type="submit" value="分析">
			</form>
		</div>
		<div id="upload_msg">

		</div>
		<!-- <form method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }}
			{{ form.file.label }}
			{{ form.file }}
			{{ form.submit }}
		</form> -->
		<br>
		<h3 style="margin: 10px;">族谱分析输入模板下载</h3>
		<div style="width: 200px; border: 2px #000000; border-radius: 5px; padding: 10px; margin: 20px;">
			<form action="/download_template">
				<button type="submit">Download</button>
			</form>
		</div>
		<br>
		<h2 style="margin: 10px;">族谱关系计算器</h2>
		<div id="calculate" style=" margin: 20px;">
			<div id="tab_head" style="margin: 5px; margin-bottom: 5px;">
				<ul>
					<li><input type="button" id="calc1button" value="个体近交系数计算器" onclick="showcalcdiv1()" /></li>
					<li><input type="button" id="calc2button" value="亲缘相关系数计算器" onclick="showcalcdiv2()" /></li>
				</ul>
			</div>
			<br>
			<div id="tab_body" style="margin-top: 10px;">
				<div id="calcdiv1" class="tab_content" style="display: block;">
					<input type="text" id="poultry_id0" style="width: 80px;" />
					<input type="submit" value="提交" onclick="calc_inbreed_coef()" />
				</div>
				<div id="calcdiv2" class="tab_content" style="display: none;">
					<input type="text" id="poultry_id1" style="width: 80px;" />
					<input type="text" id="poultry_id2" style="width: 80px;" />
					<input type="submit" value="提交" onclick="calc_corr_coef()" />
				</div>
			</div>
			<textarea name="" id="calculate_result" cols="30" rows="10" style="width: 300px; height: 100px;"></textarea>
			<div id="p-color" , style="display: none;">
				<span style="background-color: #55ff7f;">自己与父母为绿色</span>
				<span></span>
				<span style="background-color: #ff6e6e;">共同祖先红色</span>
				<span></span>
				<span style="background-color: #55aaff;">其他蓝色</span>
			</div>
			<div id="includefooter"></div>
		</div>
		<h2 style="margin: 10px;">评估上传方案</h2>
		<div style="border: 2px solid #000000; border-radius: 5px; width: 300px; margin: 20px;">
			<input class="form-control" type="file" name="file_data" id="evalfile"><br />
			<!-- <input type="text" name="year" placeholder="输入目标年份"/><br /> -->
			<input type="submit" value="提交" onclick="evaluate_resolution()">
			<div id="eval_res" style="display: none;">
				<p>查看或下载评估方案结果</p>
				<table border="" cellspacing="" cellpadding="">
					<tbody id="eval_fs"></tbody>
				</table>
				<table id="eval_table">
					<thead id="evalfilehead"></thead>
					<tbody id="evalfilebody"></tbody>
				</table>
			</div>
		</div>
		<h2 style="margin: 10px;">生成目标年份的方案</h2>
		<div style="width: 800px; border: 2px solid #000000; border-radius: 5px; margin: 20px;;">
			<input type="text" id="t_year" /><!-- <input type="text" id="t_year" />
			<br> -->
			<!-- <input type="text" id="t_year" /><input type="text" id="t_year" /> -->
			<br>
			<input type="submit" value="提交" onclick="generate_new_solution()" />
			<span id="download_gene">

			</span>
			<div id="generated_res">
				<table id="generated_table" width="800px" height="60px">
					<thead id="genenewhead"></thead>
					<tbody id="genefilebody">
					</tbody>
				</table>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		function checkForm() {
			if (!document.getElementById("choosefile").value != "") {
				alert("请先选中文件！");
				return false;
			} else {
				document.getElementById("upload_msg").innerText = "已选中文件：" + document.getElementById("choosefile").value;
				return true;
			}
		}
		// clientSideInclude("includefooter", "../static/temp_files/inbrcoef_202408021556.html");
		String.prototype.format = function() {
			if (arguments.length == 0) {
				return this;
			}
			for (var s = this, i = 0; i < arguments.length; i++) {
				s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
			}
			return s;
		};
		/*
				function rgbToHex(r, g, b) {
					// var hex = ((r </< 16) | (g </< 8) | b).toString(16);  # I have to
					var hex = ((r * 2 ** 4) | (g * 2 ** 3) | b).toString(16);
					return "#" + new Array(Math.abs(hex.length - 7)).join("0") + hex;
				}
				// hex to rgb
				function hexToRgb(hex) {
					var rgb = [];
					for (var i = 1; i < 7; i += 2) {
						rgb.push(parseInt("0x" + hex.slice(i, i + 2)));
					}
					return rgb;
				}
				// 计算渐变过渡色
				function gradient(startColor, endColor, step) {
					// 将 hex 转换为rgb
					var sColor = hexToRgb(startColor),
						eColor = hexToRgb(endColor);

					// 计算R\G\B每一步的差值
					var rStep = (eColor[0] - sColor[0]) / step,
						gStep = (eColor[1] - sColor[1]) / step,
						bStep = (eColor[2] - sColor[2]) / step;

					var gradientColorArr = [];
					for (var i = 0; i < step; i++) {
						// 计算每一步的hex值
						gradientColorArr.push(rgbToHex(parseInt(rStep * i + sColor[0]), parseInt(gStep * i + sColor[1]), parseInt(
							bStep * i + sColor[2])));
					}
					return gradientColorArr;
				}
				// 测试
				var colorArr = gradient('#0082FF', '#FF4A66', 10);
		*/

		function showcalcdiv1() {
			console.log("click1");
			document.getElementById("calcdiv1").style.display = 'block';
			document.getElementById("calcdiv2").style.display = 'none';
		}

		function showcalcdiv2() {
			console.log("click2");
			document.getElementById("calcdiv1").style.display = 'none';
			document.getElementById("calcdiv2").style.display = 'block';
		}

		function calc_inbreed_coef() {
			// console.log("调用");
			var pm = document.getElementById("poultry_id0").value;
			console.log("翅号:" + pm);
			var xhr = new XMLHttpRequest();
			var URL_v = "calc?mode=single&p=" + pm
			xhr.open("GET", URL_v, true);
			// xhr.setRequestHeader('Content-Type','application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					var resp = response["response"];
					console.log(resp);
					var vset = resp["vset"];
					var eset = resp["eset"];
					var posset = resp["posset"];
					var commonv = resp["commonv"];
					var selfv = resp["selfv"];
					msg = resp["log"];
					console.log(`结果:${resp["res"]}`);
					document.getElementById("calculate_result").innerText = resp["res"] + "\n" + resp["log"];
					console.log(vset);
					console.log(eset);
					console.log(posset);
					setRelationGraph(vset, eset, posset, selfv, commonv);
				}
			};
			xhr.send();
		}

		function calc_corr_coef() {
			var p1 = document.getElementById("poultry_id1").value;
			var p2 = document.getElementById("poultry_id2").value;
			console.log("翅号:p1=" + p1 + ", p2=" + p2);
			var xhr = new XMLHttpRequest();
			var URL_v = "calc?mode=double&p1=" + p1 + "&p2=" + p2
			xhr.open("GET", URL_v, true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					// isubmit = 1;
					var response = JSON.parse(xhr.responseText);
					var resp = response["response"];
					console.log(resp);
					var vset = resp["vset"];
					var eset = resp["eset"];
					var posset = resp["posset"];
					var commonv = resp["commonv"];
					var selfv = resp["selfv"];
					msg = resp["log"];
					console.log(`结果:${resp["res"]}`);
					document.getElementById("calculate_result").innerText = resp["res"] + "\n" + resp["log"];
					setRelationGraph(vset, eset, posset, selfv, commonv);
				}
			};
			xhr.send();
		}

		function inList(v, L) {
			for (let i = 0; i < L.length; i++) {
				if (v == L[i]) {
					return true;
				}
			}
			return false;
		}

		function setRelationGraph(vset, eset, xy, selfv, commonv) {
			document.getElementById('p-color').style.display = "block";
			document.getElementById('includefooter').style.height = "50vh";
			var myChart = echarts.init(document.getElementById('includefooter'));
			// console.log(vset);
			// console.log(eset);
			// console.log(xy);
			var input_data = new Array();
			for (let i = 0; i < vset.length; i++) {
				var co = "#55aaff";
				if (selfv.indexOf(vset[i] + "") > -1) {
					co = "#55ff7f";
				} else if (commonv.indexOf(vset[i] + "") > -1) {
					co = "#ff6e6e";
				}
				input_data.push({
					name: vset[i] + "",
					x: xy[i][0] * 3,
					y: xy[i][1] * 1,
					itemStyle: {
						color: co
					}
				});
			}
			var input_edge = new Array();
			for (let i = 0; i < eset.length; i++) {
				input_edge.push({
					source: eset[i][0] + "",
					target: eset[i][1] + ""
				});
			}
			// console.log(input_data);
			// console.log(input_edge);

			var option = {
				title: [{
					text: '',
					left: '10%',
					top: '0%',
					textAlign: 'center'
				}],
				tooltip: {},
				animationDurationUpdate: 1500,
				animationEasingUpdate: 'quinticInOut',
				series: [{
					type: 'graph',
					layout: 'none',
					symbolSize: 30,
					roam: true,
					label: {
						show: true
					},
					edgeSymbol: ['circle', 'arrow'],
					edgeSymbolSize: [4, 10],
					edgeLabel: {
						fontSize: 20
					},
					data: input_data,
					// links: [],
					links: input_edge,
					lineStyle: {
						opacity: 0.9,
						width: 2,
						curveness: 0,
					},
				}]
			};
			myChart.setOption(option);
		}
		/*
				var test_vset = [24, 25, 21, 22, 23, 16, 17, 18, 19, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7];
				var test_eset = [
					[10, 0],
					[10, 2],
					[12, 3],
					[12, 5],
					[18, 10],
					[18, 13],
					[13, 3],
					[13, 5],
					[19, 12],
					[19, 14],
					[14, 6],
					[14, 7],
					[21, 16],
					[21, 17],
					[16, 9],
					[16, 12],
					[9, 0],
					[9, 1],
					[17, 10],
					[17, 11],
					[11, 3],
					[11, 4],
					[24, 21],
					[24, 22],
					[22, 18],
					[22, 19],
					[25, 21],
					[25, 23],
					[23, 18],
					[23, 19]
				];
				var test_xy = [
					[4, 4],
					[4, 12],
					[8, 4],
					[8, 12],
					[8, 20],
					[12, 4],
					[12, 12],
					[12, 20],
					[12, 28],
					[16, 4],
					[16, 12],
					[16, 20],
					[16, 28],
					[16, 36],
					[16, 44],
					[20, 4],
					[20, 12],
					[20, 20],
					[20, 28],
					[20, 36],
					[20, 44],
					[20, 52],
					[20, 60]
				];
				setRelationGraph(test_vset, test_eset, test_xy);*/

		function evaluate_resolution() {
			const fileInput = document.getElementById('evalfile');
			const file = fileInput.files[0]; // 获取文件  
			if (!file) {
				alert('请选择一个文件');
				return;
			}
			var formData = new FormData();
			formData.append("file_data", file);
			console.log(formData);
			fetch("/eval", {
					method: 'POST',
					// headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
					body: formData,
				}).then(response => {
					if (!response.ok) {
						throw new Error('文件上传失败');
					}
					return response.json();
				}).then(data => {
					// 在这里处理你的数据  
					console.log(data["msg"]);
					console.log(data["file_list"]);
					document.getElementById("eval_res").style.display = "block";
					var fnames = data["file_list"];
					var fs_str = "";

					for (let j = 0; j < fnames.length; j++) {
						fs_str += "<tr>";
						fs_str += "<td><input type=\"button\" value=\"点击显示表格\" onclick=\"get_evaled_data(\'" + fnames[j] +
							"\')\"/></td>";
						var dyn_url = "/get_evaled_file?callf=" + fnames[j];

						fs_str += "<td><input type=\"button\" value=\"点击下载表格\" onclick=\"get_evaled_file(\'" + fnames[j] +
							"\')\"/></td>";
						fs_str += "</tr>";
					}
					document.getElementById("eval_fs").innerHTML = fs_str;
					// // 假设你想把数据显示在页面上的某个元素中  
					// document.getElementById('someElementId').innerText = data.someKey;
				})
				.catch(error => {
					// 处理请求失败的情况  
					console.error('There was a problem with your fetch operation:', error);
				});
			/*var xhr = new XMLHttpRequest();
			var URL_v = "eval"
			xhr.open("POST", URL_v);
			xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					document.getElementById("eval_res").style.display="block";
					var fnames = response["file_list"];
					var fs_str = "";
					for (let j = 0; j < fnames.length; j++) {
						fs_str += "<tr>";
						fs_str += "<td><input type=\"button\" value=\"点击显示表格\" onclick=\"get_evaled_data(" + fnames[j] +
							")\"/></td>";
						fs_str += "<td><form action=\"/get_evaled_file?callf="+fnames[j]+"\"><button type=\"submit\">Download</button></form></td>";
						fs_str += "</tr>";
					}
					document.getElementById("eval_fs").innerHTML = fs_str;
					//var reslist = document.getElementById("eval_fs");
					//var evaled_table = resp["data"];
					//var showfilehead = document.getElementById('evalfilehead');
					//showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
					//setRelationTable(evaled_table, "evalfilebody");
				}
			};
			xhr.send(formData);*/
		}

		function get_evaled_data(fname) {
			var xhr = new XMLHttpRequest();
			var URL_v = "get_evaled_data?callf=" + fname;
			xhr.open("GET", URL_v, true);
			// xhr.setRequestHeader('Content-Type','application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					var resp = response["data"];
					// var evaled_table = resp["data"];
					var showfilehead = document.getElementById('evalfilehead');
					showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
					setRelationTable(resp, "evalfilebody");
				}
			};
			xhr.send();
		}

		function get_evaled_file(fname) {
			// 构造下载URL  
			const url = '/get_evaled_file/' + encodeURIComponent(fname);

			// 创建一个a标签  
			const a = document.createElement('a');
			a.href = url;
			// 这里不需要设置download属性，因为Flask的send_file已经会处理  
			a.style.display = 'none';
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
			// var xhr = new XMLHttpRequest();
			// var URL_v = "get_evaled_file?callf=" + fname;
			// xhr.open("GET", URL_v, true);
			// // xhr.setRequestHeader('Content-Type','application/json');
			// xhr.onreadystatechange = function() {
			// 	if (xhr.readyState === 4 && xhr.status === 200) {
			// 		var response = JSON.parse(xhr.responseText);
			// 		var resp = response["response"];
			// 		var fs_str = "";
			// 		for (let j = 0; j < resp["file_list"].length; j++) {
			// 			fs_str += "<li><input type=\"button\" value=\"\" onclick=\"get_evaled_file(" + resp["file_list"][j] +
			// 				")\"/></li>";
			// 		}
			// 		var reslist = document.getElementById("eval_fs")
			// 		// var evaled_table = resp["data"];
			// 		// var showfilehead = document.getElementById('evalfilehead');
			// 		// showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
			// 		// setRelationTable(evaled_table, "evalfilebody");
			// 	}
			// };
			// xhr.send();
		}

		function setRelationTable(table_data, div_id) {
			var showfilebody = document.getElementById(div_id);
			// var tdstr = '<tr><th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th></tr>';
			const colorArr = ['#0082ff',
				'#197cef',
				'#3376e0',
				'#4c71d1',
				'#666bc1',
				'#7f66b2',
				'#9960a3',
				'#b25a93',
				'#cc5584',
				'#e54f75'
			]
			var tdstr = "";
			for (var i = 0; i < table_data.length; i++) {
				tdstr += '<tr>';
				var L = table_data[i].length;
				for (let j = 0; j < L - 1; j++) {
					tdstr += '<td width=80px>' + table_data[i][j] + '</td>';
				}
				// console.log(table_data[i][L - 1]);
				// console.log(parseInt(parseFloat(table_data[i][L - 1]) * 10));
				// console.log(colorArr[parseInt(parseFloat(table_data[i][L - 1]) * 10)]);
				tdstr += '<td width=80px style=\"background-color: ' + colorArr[parseInt(parseFloat(table_data[i][L - 1]) *
					10)] + '\">' + table_data[i][L - 1] + '</td>';
				tdstr += '</tr>';
			}
			showfilebody.innerHTML = tdstr;
		}

		function generate_new_solution() {
			var pm = document.getElementById("t_year").value;
			console.log("年份:" + pm);
			var xhr = new XMLHttpRequest();
			var URL_v = "generate?t_year=" + pm;
			xhr.open("GET", URL_v, true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					// var resp = response["response"];
					console.log(response);
					var data = response["data"];
					fname = response["fname"];
					// console.log(response["msg"]);
					// console.log(response["fname"]);
					// console.log(response["data"]);
					// console.log(data);
					// console.log(`结果:${response["res"]}`);
					// document.getElementById("calculate_result").innerText = response["res"] + "\n" + response["log"];
					// var showfilehead = document.getElementById('genefilehead').style.display = "block";

					document.getElementById("download_gene").innerHTML =
						"<input type=\"button\" value=\"点击下载方案\" onclick=\"get_evaled_file(\'" + fname +
						"\')\"/>";
					var showfilehead = document.getElementById('genenewhead');
					showfilehead.innerHTML =
						"<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th><th>幼崽翅号</th><th>幼崽性别</th>";
					setRelationTable(data, "genefilebody");
				}
			};
			xhr.send();
		}

		function clientSideInclude(id, url) {
			var req = false;
			if (window.XMLHttpRequest) { // Safari, Firefox, 及其他非微软浏览器
				try {
					req = new XMLHttpRequest();
				} catch (e) {
					req = false;
				}
			} else if (window.ActiveXObject) {
				try {
					req = new ActiveXObject("Msxml2.XMLHTTP"); // For Internet Explorer on Windows
				} catch (e) {
					try {
						req = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e) {
						req = false;
					}
				}
			}
			var element = document.getElementById(id);
			if (!element) {
				alert("函数clientSideInclude无法找到id " + id + "," + "你的网页中必须有一个含有这个id的div 或 span 标签。");
				return;
			}
			if (req) {
				req.open('GET', url, false); // 同步请求，等待收到全部内容
				req.send(null);
				element.innerHTML = req.responseText;
			} else {
				element.innerHTML =
					"对不起，你的浏览器不支持" + "XMLHTTPRequest 对象。这个网页的显示要求" +
					"Internet Explorer 5 以上版本, " + "或 Firefox 或 Safari 浏览器，也可能会有其他可兼容的浏览器存在。";
			}
		}
	</script>
</html>