<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>家禽育种工具箱</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				text-decoration: none;
				list-style: none;
			}
			#tab_head input{
				float: left;
				margin-right: 20px;
			}
			
			#includefooter {
				position: relative;
				height: 0vh;
				overflow: hidden;
			}
		</style>
		<script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
	</head>

	<body>
		<h1 style="margin: 10px;">上传</h1>
		<div style="border: 2px solid #000000; width: 300px; border-radius: 5px; padding: 5px; margin: 20px;">
			<form method="post" enctype="multipart/form-data" action="/analyse">
				<input class="form-control" type="file" name="file_data"><br />
				<!-- <input type="text" name="year" placeholder="输入目标年份"/><br /> -->
				<input type="submit" value="提交">
			</form>
		</div>
		<!-- <form method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }}
			{{ form.file.label }}
			{{ form.file }}
			{{ form.submit }}
		</form> -->
		<br>
		<h3 style="margin: 10px;">族谱分析输入模板下载</h3>
		<div style="width: 200px; border: 2px #000000; border-radius: 5px; padding: 10px; margin: 20px;">
			<form action="/download_template">
				<button type="submit">Download</button>
			</form>
		</div>
		<br>
		<h2 style="margin: 10px;">族谱关系计算器</h2>
		<div id="calculate" style=" margin: 20px;">
			<div id="tab_head" style="margin: 5px; margin-bottom: 5px;">
				<ul>
					<li><input type="button" id="calc1button" value="个体近交系数计算器" onclick="showcalcdiv1()" /></li>
					<li><input type="button" id="calc2button" value="亲缘相关系数计算器" onclick="showcalcdiv2()" /></li>
				</ul>
			</div>
			<br>
			<div id="tab_body" style="margin-top: 10px;">
				<div id="calcdiv1" class="tab_content" style="display: block;">
					<input type="text" id="poultry_id0" style="width: 80px;" />
					<input type="submit" value="提交" onclick="calc_inbreed_coef()" />
				</div>
				<div id="calcdiv2" class="tab_content" style="display: none;">
					<input type="text" id="poultry_id1" style="width: 80px;" />
					<input type="text" id="poultry_id2" style="width: 80px;" />
					<input type="submit" value="提交" onclick="calc_corr_coef()" />
				</div>
			</div>
			<textarea name="" id="calculate_result" cols="30" rows="10" style="width: 300px; height: 100px;"></textarea>
			<div id="includefooter"></div>
		</div>
		<h2 style="margin: 10px;">评估上传方案</h2>
		<div style="border: 2px solid #000000; border-radius: 5px; width: 300px; margin: 20px;">
			<form id="eval_submit" method="post" enctype="multipart/form-data" action="/eval">
				<input class="form-control" type="file" name="file_data"><br />
				<!-- <input type="text" name="year" placeholder="输入目标年份"/><br /> -->
				<input type="submit" value="提交" onclick="evaluate_resolution()">
			</form>
			<div id="eval_res" style="display: none;">
				<p>查看或下载评估方案结果</p>
				<table border="" cellspacing="" cellpadding="">
					<tbody id="eval_fs"></tbody>
				</table>
				
				<table id="eval_table">
					<thead id="evalfilehead"></thead>
					<tbody id="evalfilebody"></tbody>
				</table>
			</div>
		</div>
		<h2 style="margin: 10px;">生成目标年份的方案</h2>
		<div style="width: 800px; border: 2px solid #000000; border-radius: 5px; margin: 20px;">
			<input type="text" id="t_year" /><!-- <input type="text" id="t_year" />
			<br> -->
			<!-- <input type="text" id="t_year" /><input type="text" id="t_year" /> -->
			<br>
			<input type="submit" value="提交" onclick="generate_new_solution()" />
			
			<div id="generated_res">
				<table id="generated_table" width="800px" height="60px">
					<tbody id="genefilebody"></tbody>
				</table>
			</div>
			
		</div>
	</body>

	<script type="text/javascript">
		// clientSideInclude("includefooter", "../static/temp_files/inbrcoef_202408021556.html");
		String.prototype.format = function() {
			if (arguments.length == 0) {
				return this;
			}
			for (var s = this, i = 0; i < arguments.length; i++) {
				s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
			}
			return s;
		};
		function showcalcdiv1() {
			console.log("click1");
			document.getElementById("calcdiv1").style.display = 'block';
			document.getElementById("calcdiv2").style.display = 'none';
		}

		function showcalcdiv2() {
			console.log("click2");
			document.getElementById("calcdiv1").style.display = 'none';
			document.getElementById("calcdiv2").style.display = 'block';
		}


		function calc_inbreed_coef(mode) {
			// console.log("调用");
			var pm = document.getElementById("poultry_id0").value;
			console.log("翅号:" + pm);
			var xhr = new XMLHttpRequest();
			var URL_v = "calc?mode=single&p=" + pm
			xhr.open("GET", URL_v, true);
			// xhr.sestRequestHeader('Content-Type','application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					var resp = response["response"];
					console.log(resp);
					var vset = resp["vset"];
					var eset = resp["eset"];
					var posset = resp["posset"];
					msg = resp["log"];
					console.log(`结果:${resp["res"]}`);
					document.getElementById("calculate_result").innerText = resp["res"] + "\n" + resp["log"];
					setRelationGraph(vset, eset, posset);
				}
			};
			xhr.send();
		}

		function calc_corr_coef() {
			var p1 = document.getElementById("poultry_id1").value;
			var p2 = document.getElementById("poultry_id2").value;
			console.log("翅号:p1=" + p1 + ", p2=" + p2);
			var xhr = new XMLHttpRequest();
			var URL_v = "calc?mode=double&p1=" + p1 + "&p2=" + p2
			xhr.open("GET", URL_v, true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					console.log("返回值：")
					console.log(response.json());
					// isubmit = 1;
					var response = JSON.parse(xhr.responseText);
					var resp = response["response"];
					console.log(resp);
					var vset = resp["vset"];
					var eset = resp["eset"];
					var posset = resp["posset"];
					msg = resp["log"];
					console.log(`结果:${resp["res"]}`);
					document.getElementById("calculate_result").innerText = resp["res"] + "\n" + resp["log"];
					setRelationGraph(vset, eset, posset);
				}
			};
			xhr.send();
		}

		function setRelationGraph(vset, eset, xy) {
			document.getElementById('includefooter').style.height = "50vh";
			var myChart = echarts.init(document.getElementById('includefooter'));
			// console.log(vset);
			// console.log(eset);
			// console.log(xy);
			var input_data = new Array();
			for (let i = 0; i < vset.length; i++) {
				input_data.push({
					name: vset[i] + "",
					x: xy[i][0] * 3,
					y: xy[i][1] * 1
				});
			}
			var input_edge = new Array();
			for (let i = 0; i < eset.length; i++) {
				input_edge.push({
					source: eset[i][0] + "",
					target: eset[i][1] + ""
				});
			}
			// console.log(input_data);
			// console.log(input_edge);

			var option = {
				title: [{
					text: '',
					left: '10%',
					top: '0%',
					textAlign: 'center'
				}],
				tooltip: {},
				animationDurationUpdate: 1500,
				animationEasingUpdate: 'quinticInOut',
				series: [{
					type: 'graph',
					layout: 'none',
					symbolSize: 30,
					roam: true,
					label: {
						show: true
					},
					edgeSymbol: ['circle', 'arrow'],
					edgeSymbolSize: [4, 10],
					edgeLabel: {
						fontSize: 20
					},
					data: input_data,
					// links: [],
					links: input_edge,
					lineStyle: {
						opacity: 0.9,
						width: 2,
						curveness: 0,
					},
				}]
			};
			myChart.setOption(option);
		}
		/*
				var test_vset = [24, 25, 21, 22, 23, 16, 17, 18, 19, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7];
				var test_eset = [
					[10, 0],
					[10, 2],
					[12, 3],
					[12, 5],
					[18, 10],
					[18, 13],
					[13, 3],
					[13, 5],
					[19, 12],
					[19, 14],
					[14, 6],
					[14, 7],
					[21, 16],
					[21, 17],
					[16, 9],
					[16, 12],
					[9, 0],
					[9, 1],
					[17, 10],
					[17, 11],
					[11, 3],
					[11, 4],
					[24, 21],
					[24, 22],
					[22, 18],
					[22, 19],
					[25, 21],
					[25, 23],
					[23, 18],
					[23, 19]
				];
				var test_xy = [
					[4, 4],
					[4, 12],
					[8, 4],
					[8, 12],
					[8, 20],
					[12, 4],
					[12, 12],
					[12, 20],
					[12, 28],
					[16, 4],
					[16, 12],
					[16, 20],
					[16, 28],
					[16, 36],
					[16, 44],
					[20, 4],
					[20, 12],
					[20, 20],
					[20, 28],
					[20, 36],
					[20, 44],
					[20, 52],
					[20, 60]
				];
				setRelationGraph(test_vset, test_eset, test_xy);*/

		function evaluate_resolution() {
			var xhr = new XMLHttpRequest();
			var URL_v = "eval"
			xhr.open("POST", URL_v);
			xhr.sestRequestHeader('Content-Type','application/x-www-form-urlencoded');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					document.getElementById("eval_res").style.display="block";
					var fnames = response["file_list"];
					var fs_str = "";
					for (let j = 0; j < fnames.length; j++) {
						fs_str += "<tr>";
						fs_str += "<td><input type=\"button\" value=\"点击显示表格\" onclick=\"get_evaled_data(" + fnames[j] +
							")\"/></td>";
						fs_str += "<td><form action=\"/get_evaled_file?callf="+fnames[j]+"\"><button type=\"submit\">Download</button></form></td>";
						fs_str += "</tr>";
					}
					document.getElementById("eval_fs").innerHTML = fs_str;
					/*var reslist = document.getElementById("eval_fs");
					var evaled_table = resp["data"];
					var showfilehead = document.getElementById('evalfilehead');
					showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
					setRelationTable(evaled_table, "evalfilebody");*/
				}
			};
			var form = document.getElementById("eval_submit");
			var formData = new FormData(form);
			var content = formData.get("file_data");
			formData.append("file_data", content);
			xhr.send(formData);
		}

		function get_evaled_data(fname) {
			var xhr = new XMLHttpRequest();
			var URL_v = "get_evaled_data?callf=" + fname;
			xhr.open("GET", URL_v, true);
			// xhr.sestRequestHeader('Content-Type','application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					var resp = response["response"]["data"];
					// var evaled_table = resp["data"];
					var showfilehead = document.getElementById('evalfilehead');
					showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
					setRelationTable(resp, "evalfilebody");
				}
			};
			xhr.send();
		}

		// function get_evaled_file(fname) {
		// 	var xhr = new XMLHttpRequest();
		// 	var URL_v = "get_evaled_file?callf=" + fname;
		// 	xhr.open("GET", URL_v, true);
		// 	// xhr.sestRequestHeader('Content-Type','application/json');
		// 	xhr.onreadystatechange = function() {
		// 		if (xhr.readyState === 4 && xhr.status === 200) {
		// 			var response = JSON.parse(xhr.responseText);
		// 			var resp = response["response"];
		// 			var fs_str = "";
		// 			for (let j = 0; j < resp["file_list"].length; j++) {
		// 				fs_str += "<li><input type=\"button\" value=\"\" onclick=\"get_evaled_file(" + resp["file_list"][j] +
		// 					")\"/></li>";
		// 			}
		// 			var reslist = document.getElementById("eval_fs")
		// 			// var evaled_table = resp["data"];
		// 			// var showfilehead = document.getElementById('evalfilehead');
		// 			// showfilehead.innerHTML = "<th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th>";
		// 			// setRelationTable(evaled_table, "evalfilebody");
		// 		}
		// 	};
		// 	xhr.send();
		// }

		function setRelationTable(table_data, div_id) {
			var showfilebody = document.getElementById(div_id);
			var tdstr = '<tr><th>家系号</th><th>公禽号</th><th>母禽号</th><th>亲缘相关系数</th></tr>';
			for (var i = 0; i < table_data.length; i++) {
				tdstr += '<tr>';
				for (let j = 0; j < table_data[i].length; j++) {
					tdstr += '<td width=80px>' + table_data[i][j] + '</td>';
				}
				tdstr += '</tr>';
			}
			showfilebody.innerHTML = tdstr;
		}

		function generate_new_solution() {
			var pm = document.getElementById("t_year").value;
			console.log("年份:" + pm);
			var xhr = new XMLHttpRequest();
			var URL_v = "generate?t_year=" + pm
			xhr.open("GET", URL_v, true);
			// xhr.sestRequestHeader('Content-Type','application/json');
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					// var resp = response["response"];
					console.log(response);
					var data = response["data"];
					fname = response["fname"];
					// console.log(response["msg"]);
					// console.log(response["fname"]);
					// console.log(response["data"]);
					// console.log(data);
					// console.log(`结果:${response["res"]}`);
					// document.getElementById("calculate_result").innerText = response["res"] + "\n" + response["log"];
					// var showfilehead = document.getElementById('genefilehead').style.display = "block";
					setRelationTable(data, "genefilebody");
				}
			};
			xhr.send();
		}

		function clientSideInclude(id, url) {
			var req = false;
			if (window.XMLHttpRequest) { // Safari, Firefox, 及其他非微软浏览器
				try {
					req = new XMLHttpRequest();
				} catch (e) {
					req = false;
				}
			} else if (window.ActiveXObject) {
				try {
					req = new ActiveXObject("Msxml2.XMLHTTP"); // For Internet Explorer on Windows
				} catch (e) {
					try {
						req = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e) {
						req = false;
					}
				}
			}
			var element = document.getElementById(id);
			if (!element) {
				alert("函数clientSideInclude无法找到id " + id + "," + "你的网页中必须有一个含有这个id的div 或 span 标签。");
				return;
			}
			if (req) {
				req.open('GET', url, false); // 同步请求，等待收到全部内容
				req.send(null);
				element.innerHTML = req.responseText;
			} else {
				element.innerHTML =
					"对不起，你的浏览器不支持" + "XMLHTTPRequest 对象。这个网页的显示要求" +
					"Internet Explorer 5 以上版本, " + "或 Firefox 或 Safari 浏览器，也可能会有其他可兼容的浏览器存在。";
			}
		}
	</script>
</html>
